<!-- this is the main index.html page for the index method inside producsts_controller.rb file -->
<h1>Product Directory</h1>
<!-- this is a link to the /products/new.html.erb file -->

<%= link_to "New Product", "/products/new" %>


<!-- This is located in the products/_productinfo.html.erb partial file to display the products -->
<%= render 'productinfo' %>